nz-header {
    background: #fff;
    padding: 0;
}

nz-layout{
    height: 100vh;
}

nz-content {
    margin: 0 16px;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

nz-footer {
    text-align: center;
}