<div class="loginPage">
    <div class="loginScreen">
        <div class="imgSection">
            <img src="https://images.meesho.com/images/marketing/1661417516766.webp" alt="">
        </div>

        <div class="loginDetails">
            <div class="info">
                <h6 class="signupText">Sign Up to view your profile</h6>

                <div class="loginText">
                    <div class="CountryDropdown">
                        <span font-size="12px" font-weight="book" color="greyT2" class="sc-eDvSVe bmzKxz">Country</span>
                        <span font-size="16px" font-weight="demi" color="greyBase" class="sc-eDvSVe dDIvtJ">🇮🇳 +91</span>
                        <div class="border"></div>
                    </div>
                    <div class="inputInputContainer">
                        <input type="text" maxlength="10" autocomplete="off" class="inputInputField" value="" placeholder="Phone Number">
                    </div>
                </div>

                <button type="submit" class="ctnBtn">
                    <div class="">
                        <span class="">Continue</span>
                    </div>
                </button>
            </div>

            <span class="termCondition">
                By continuing, you agree to Meesho’s&nbsp;
                <a href="https://www.meesho.com/legal/terms-conditions">
                    <span>Privacy Policy</span>
                </a>
            </span>

        </div>

    </div>
</div>